*{
    box-sizing: border-box;
}

header{
    width:100%;
    height: 80px;
    border: 2px solid orange;
    background-image: linear-gradient(rgb(150, 150, 150) 80%,rgb(164, 164, 164) 20%);
    background-color: aqua;
    
}
body{
    margin: 0px;
   font-family: "Arial (Hebrew)", Arial;
       
}
.ads>p,nav li>a,.dropdown a,.contact h2{
    font-size: 14px;
    font-family: "Arial (Hebrew)", Arial;
}
.extra-info >div,.ads a,.contact_column>div,.input>div,form {
    font-size: 13px;

}
main>div ,main> .contact{
    margin-top: 50px;
    margin-bottom: 90px;
}

main{
    border: 1px solid  darkolivegreen;
    width:100%;
}
input[type="button"] {
    background: url('images/search_button.png') ;
    background-repeat: no-repeat;    
     
    background-position: center;
    /* vertical-align: middle; */
    margin-left: 150px;  
    width: 25px;
    /* height: 100px;  */
    
}
header input[type=text] {
border-top-right-radius:10px;

}
header:first-child{
    /* height: 33.33%; */
    /* height:30px; */
    border: 1px solid green;
}
header a{
    color: white;
}
header:nth-child(2){
    /* height: 66.66%; */
    /* height: 50px; */
    border: 1px solid rgb(221, 207, 15);
}
main>div{
    width: 900px;
    height: 724px;
    border: 2px solid purple;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 90px;
}
main>div>div{
    width: 33%;
    text-align: right;
}
main>div>div:first-child,main>div>div:nth-child(2),main>div>div:nth-child(3){
    height: 60%;
    border-bottom-right-radius:20px;
    background-color: beige;
    /* margin-left: 10px; */
    position: relative;
}


main>div>div:nth-child(4),main>div>div:nth-child(5),main>div>div:nth-child(6){
    height: 30%;    
    border-top-right-radius:20px;
    background-color: beige;
    /* margin-left: 10px; */
}
div>p{
    padding-right: 20px;
    /* font-size: 18px; */
    font-weight: bold;
}
hr
{
    width:90%;
    margin: 0 auto;
    margin-bottom:10px;
    
}
.ads>p{
    padding: 0px;
    margin: 5;
    /* font-size: 14px; */
}

.ads>ul {
    
list-style-image: url('images/read_more_yellow.png');
padding-right: 20px;
}
.stations{
    float:right;
    
}
.pratim_nosafim{
    float:left;
}
.ads,.ads>ul>li>a{
    color: #575757;
    padding: 10px;
}
.ads>ul:hover {
     
    list-style-image: url('images/blue_dots.png');
     color:rgb(40, 83, 163);
    }
.ads>ul>li>a:hover{
    color: rgb(40, 83, 163);
}
img[src*="3058756287"]{
    float: left;
    padding-left: 20px;
}

 img[src*="read_more_white"]:hover,.extra-info a:hover
{
    
    color: rgb(40, 83, 163);
    background-image: url('images/blue_dots.png');
    background-repeat: no-repeat;
    background-position: inherit;    
    /* display: none; */
    width: [IMAGE_WIDTH_IN_PIXELS]px;
    height: [IMAGE_HEIGHT_IN_PIXELS]px;  
}
 

.extra-info a{
    color: white;
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    
    background-image: linear-gradient(rgb(150, 150, 150) 80%,rgb(164, 164, 164) 20%);
    height: 40px;
    width: 100%;
    border: 1px solid blue;
}

    nav{
        width:1000px;/*80%*/
        margin: 0 auto;
    }
    .dropdown:hover>.dd_content{
        display: block;
    }
    .dd_content{
        display: none;
        position:absolute;
        top: 37px;
        right:0;
        width: 300px;
        background-image: linear-gradient(rgb(164, 164, 164) 20%,rgb(150, 150, 150) 80%);
        

    }
    .dropdown{
        position: relative;
        z-index: 2;
    }
    .dropdown>a,footer a{
        border-left: 1px solid;
        padding-right: 5px;
        
    }
    nav>ul>li{
        display: inline;
        
    }
    nav>ul{
        direction: rtl;
        margin:0 auto;
        list-style-image: url('images/menu_sep.png');
        
    }
    nav li>a{
        display: inline-block;
        
        color:white;
        /* font-size: 14px; */
        font-family: 'Arial (Hebrew)', Arial;
        line-height:1;
        text-decoration: none;
        padding-left: 10px;
    }
    .dd_content>a{
        display: block;
        color:white;
        
        text-decoration: none;
        padding-left: 100px;
        
        
    }
    .extra-info a{
        display: block;
        float:left;

    }
    .extra-info >div{
        position: absolute;
        bottom: 5px;
        right:5px;
        background-color: lightslategrey;
        border-bottom-right-radius:20px;
        color:white;
        /* font-size: 13px; */
        text-align: right;
        padding: 10px;
        opacity: 0.9;
        width:90%
        
    }
    .extra-info>img{
        width:100%;
        height: 100%;
        border-bottom-right-radius:20px;
    }
    h3{
        padding: 0;
        margin:0;
    }
    footer>nav>ul>li:last-child>a{
        color: red;
    }
    .logo{
        float: right;
        margin-right: 50px;
    }
        /*contact*/
    .contact{
        display: flex;
        width:50%;
        margin: 0 auto;
        justify-content: space-between;

    }
    .contact>article{
        width:45%;

    }
    .contact>article:nth-child(2){
        
        background-image: url('images/contact_form_bg.png');
        background-repeat: no-repeat;
    }

    .contact_column{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .contact_column>div{
        width:80%;
       
        background-image: url('images/cube_bg.png');
        background-repeat: no-repeat;
        direction: rtl;
        text-align: right;
        /* font-size: 13px; */
        font-weight: none;
        margin-top: 10px;
        border-top-right-radius: 10%;
        padding-right: 10px;
        border: 1px solid lightgray;
    }
    .contact_column p{
        padding: 0px;
        margin: 0px;
    }
    .contact h2{
        color:rgb(40, 83, 163);
    }
    form{
        direction: rtl;
        text-align: right;
        
        
    }
    form>p,form>h2{
        padding-right: 20px;
        padding-left: 20px;
    }
    .input>div{
        width:75%;
        margin: auto;
        margin-top: 10px;
        display: flex;
    }
    .input label,.input input[type=text]{
        width:50%;
       
        
    }
    .input input[type=submit]{
        float: left;
    }
    textarea{
        
        height: 100px;
        width:100%;
    }
aside{
    
    direction:rtl;
    margin : 100px;
    
    /* border: 1px solid; */
    height: 50px;
}
aside>a:first-child{
    padding-left: 0px;
    float: right;
    /* border: 1px solid lightslategray; */
    text-align: right;
    /* background-image:linear-gradient(rgb(150, 150, 150)  ,rgb(164, 164, 164)  ); */
    width:100px;
}
aside>a:nth-child(2){
    padding-bottom: 80px;
    float: right;
    width:70px;
     
}
aside>h4,aside>hr{
    margin:20px;
    padding: 0px;
    width:50%;
}